<div class="card mb-3">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="radius">Radius (km)</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary radius-button">
               <input type="radio" name="radius" id="option1" autocomplete="off" checked> 0.5
               </label>
          <label class="btn btn-secondary radius-button">
               <input type="radio" name="radius" id="option2" autocomplete="off"> 1
               </label>
          <label class="btn btn-secondary radius-button">
               <input type="radio" name="radius" id="option3" autocomplete="off"> 5
               </label>
          <label class="btn btn-secondary radius-button">
               <input type="radio" name="radius" id="option3" autocomplete="off"> 10
               </label>
        </div>
      </div>
      <div class="form-group">
        <label for="type">Section
            </label>
        <select class="form-control">
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
            </select>
      </div>
      <button type="submit" class="btn bee-button btn-lg btn-block">Search</button>
    </form>
  </div>
</div>