body {
  background-color: rgb(0, 17, 44);
}

.bee-header {
  font-size: 30px;
  height: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bee-img {
  height: 100px;
  margin-top: -30px;
}

.radius-button {
  background-color: #ffde00;
  border-color: rgb(0, 17, 44);
  margin-right: 5px;
}

.radius-button.active,
.radius-button:hover {
  background-color: rgb(0, 17, 44);
  color: #fff;
}

.bee-button,
.table.bee-table thead th {
  color: #fff;
  background-color: rgb(0, 17, 44);
  border-color: rgb(0, 17, 44);
}

.bee-form .input-group-prepend,
.bee-form .input-group-apppend,
.bee-form .input-group-text {
  color: #ffde00;
  background-color: rgb(0, 17, 44);
  border-color: rgb(0, 17, 44);
}

.bee-form .input-group-apppend {
  cursor: pointer;
}

.bee-form select,
.bee-form input {
  border: 1px solid rgb(0, 17, 44);
  outline: none;
}

@media screen and (max-width: 992px) {
  .bee-track {
    width: 370px;
  }
}
